<div style="display: flex">
  <app-lesson-list></app-lesson-list>
  <div class="editor-container">
    <div class="editor-header">
      <input
        class="input note-list-search-input"
        type="text"
        placeholder="Title"
        value="Lesson Title"
      />

      <div class="editor-header-date">
        <p>Edited: 2 August 2021</p>
      </div>

      <div class="settings">
        <div class="navbar-item nav-bar-icon-btn">
          <i class="fas fa-trash"></i>
        </div>
      </div>
    </div>
    <quill-editor></quill-editor>
  </div>
</div>
