<div
  class="note-list-container"
  [ngClass]="{ 'side-nav-bar-collapsed': !(showSideNav$ | async) }"
  [ngStyle]="{ 'width.px': sideNavWidth }"
>
  <!-- Toggle UI to hide and show lesson list -->
  <div
    class="note-list-toggle"
    (click)="onSidebarToggle()"
    [ngStyle]="{ 'left.px': sideNavWidth }"
  >
    <i class="fas fa-bars"></i>
  </div>

  <!-- LIST OF ALL SECTIONS -->
  <div class="note-list">
    <!-- Search Input -->
    <!-- <p class="control has-icons-left">
      <input
        class="input note-list-search-input"
        type="text"
        placeholder="Search"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-search"></i>
      </span>
    </p> -->

    <div class="buttons section-controls" style="margin-top: auto">
      <div>
        <button
          class="is-primary is-fullwidth button square"
          (click)="onAddSection()"
        >
          <i class="fas fa-plus" style="padding-right: 10px"></i>
          Section
        </button>
      </div>
      <div>
        <button
          [ngClass]="{ 'is-success': addingLesson }"
          class="is-primary is-fullwidth button square"
          (click)="onToggleAddingLessons()"
        >
          <i class="fas fa-plus" style="padding-right: 10px"></i>
          Lesson
        </button>
      </div>
    </div>

    <!-- List of section and their lessons -->
    <div
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      class="lesson-list-lesson-wrapper"
    >
      <div class="section-box" *ngFor="let section of sections" cdkDrag>
        <div class="section-card-placeholder" *cdkDragPlaceholder></div>

        <app-section
          [section]="section"
          [sectionTitle]="section.title"
          [sectionId]="section.id"
          [lessons]="section.lessons"
          [collapsed]="section.collapsed"
          [addingLessons]="addingLesson"
          id="section-{{ section.id }}"
        >
          <div cdkDragHandle class="drag-handle">
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </app-section>
      </div>
    </div>
  </div>
</div>
