@import "../../../main-styles.scss";

.section-card-title {
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(#eee, 0.2);

  & i:hover {
    cursor: pointer;
    color: $green;
  }
}

.lesson-card-container {
  background: lighten($blue, 5%);
  border-top: 1px solid lighten($blue, 2%);
  padding: 10px;
  position: relative;
  display: flex;

  .lesson-card-title {
    font-size: 1.1rem;
  }

  &:hover {
    background-color: $blue-lightened;
    cursor: pointer;

    & .drag-handle {
      width: auto;
      opacity: 1;
    }
  }

  .drag-handle {
    color: rgba($white, 0.3);
    padding-left: 2px;
    padding-right: 10px;
    cursor: grab;
    opacity: 0;
    width: 0px;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      color: $green;
    }
  }
}

.lesson-card-placeholder {
  background: lighten($blue, 20%);
  border: solid 1px rgba($green, 0.3);
  min-height: 50px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.lesson-card-active {
  background: darken($green, 15%) !important;

  & .note-card-title {
    color: black;
  }
}
