@import "../../../main-styles.scss";

.register-container {
  & .register-box {
    max-width: 500px;
    margin: 50px auto;
  }
}

.register-form-links {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;

  & a {
    display: inline-block;
  }
}
