<div class="container">
  <form class="box register-form-wrapper">
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="email" placeholder="e.g. alex@example.com" />
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" placeholder="********" />
      </div>
    </div>

    <div class="field">
      <label class="label">Retype Password</label>
      <div class="control">
        <input class="input" type="password" placeholder="********" />
      </div>
    </div>

    <div class="field">
      <label class="checkbox">
        <input type="checkbox" checked />
        Subscribe to hear about upcoming features
      </label>
    </div>

    <button class="button is-primary is-fullwidth is-success">Sign Up</button>
    <div class="register-form-links">
      <a routerLink="/profile/login">Already have an account? Login</a>
    </div>
  </form>
</div>
