<div
  class="note-list-container"
  [ngClass]="{ 'side-nav-bar-collapsed': !(showSideNav$ | async) }"
>
  <div class="note-list-toggle" (click)="onSidebarToggle()">
    <i class="fas fa-bars"></i>
  </div>

  <div class="note-list">
    <p class="control has-icons-left">
      <input
        class="input note-list-search-input"
        type="text"
        placeholder="Search"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-search"></i>
      </span>
    </p>

    <!-- Loop over cards and render them here. Give editing decleration of true to which ever card is being edited-->
    <div *ngFor="let section of sectionList; let i = index">
      <app-section-card
        [sectionNumber]="i.toString()"
        [sectionTitle]="section.title"
        [lessons]="section.lessons"
      >
      </app-section-card>
    </div>
  </div>
</div>
