<div
  class="note-list-container"
  [ngClass]="{ 'side-nav-bar-collapsed': !(showSideNav$ | async) }"
>
  <!-- Toggle UI to hide and show lesson list -->
  <div class="note-list-toggle" (click)="onSidebarToggle()">
    <i class="fas fa-bars"></i>
  </div>

  <div class="note-list">
    <!-- Search Input -->
    <!-- <p class="control has-icons-left">
      <input
        class="input note-list-search-input"
        type="text"
        placeholder="Search"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-search"></i>
      </span>
    </p> -->
    <div class="buttons section-controls">
      <button class="is-primary is-fullwidth button" (click)="onAddSection()">
        Add Section
      </button>
      <!-- <div class="divider"></div>
      <a class="is-success">+ Lesson</a> -->
    </div>

    <!-- List of section and their lessons -->
    <div
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      class="lesson-list-lesson-wrapper"
    >
      <div
        class="section-box"
        *ngFor="let section of sections; let i = index"
        cdkDrag
      >
        <div class="section-card-placeholder" *cdkDragPlaceholder></div>
        <app-section-card
          [sectionNumber]="(i + 1).toString()"
          [sectionTitle]="section.title"
          [sectionId]="section.id"
          id="section-{{ section.id }}"
        >
          <div cdkDragHandle class="drag-handle">
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </app-section-card>
      </div>
    </div>
  </div>
</div>
