<div
  class="note-list-container"
  [ngClass]="{ 'side-nav-bar-collapsed': !(showSideNav$ | async) }"
>
  <div class="note-list-toggle" (click)="onSidebarToggle()">
    <i class="fas fa-bars"></i>
  </div>

  <div class="note-list">
    <p class="control has-icons-left">
      <input
        class="input note-list-search-input"
        type="text"
        placeholder="Search"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-search"></i>
      </span>
    </p>

    <!-- Loop over cards and render them here. Give editing decleration of true to which ever card is being edited-->
    <app-note-card></app-note-card>
    <app-note-card></app-note-card>
    <app-note-card [editing]="true"></app-note-card>
    <app-note-card></app-note-card>
    <app-note-card></app-note-card>
    <app-note-card></app-note-card>
    <app-note-card></app-note-card>
    <app-note-card></app-note-card>
    <app-note-card></app-note-card>
    <app-note-card></app-note-card>
    <app-note-card></app-note-card>
    <app-note-card></app-note-card>
    <app-note-card></app-note-card>
    <app-note-card></app-note-card>
    <app-note-card></app-note-card>
    <app-note-card></app-note-card>
    <app-note-card></app-note-card>
    <app-note-card></app-note-card>
    <app-note-card></app-note-card>
    <app-note-card></app-note-card>
  </div>
</div>
