<nav
  class="navbar nav-bar-container"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <h3 class="nav-bar-logo">
        <i class="fas fa-book-open"></i>
        <span style="color: white; margin-left: 20px">QuickNote</span>
      </h3>
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      (click)="toggleSideNav()"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-end">
    <div class="navbar-item nav-bar-icon-btn nav-bar-icon-btn-blue">
      <i class="far fa-edit"></i>
    </div>
    <div class="navbar-item nav-bar-icon-btn">
      <i class="fas fa-user"></i>
    </div>
  </div>
</nav>
