@import "../../../styles.scss";

:host {
  display: block;
  width: 100%;
}

.editor-container {
  overflow-y: scroll;
  width: 100% !important;
  height: 100%;
  position: relative;
}

.editor-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lighten($blue-secondary, 2%);
  position: sticky;
  top: 0;
  z-index: 1;
  height: 40px;

  .editor-header-date p {
    font-size: 14px;
    white-space: nowrap;
    font-style: italic;
    color: rgba($white, 0.6);
    margin-right: 20px;
    margin-left: 20px;
    border: 0px;
  }

  & input {
    background: none;
    color: $white;
    font-weight: bold;
    border-radius: 0;
    margin-left: 2px;
  }

  .settings {
    height: 100%;
    display: flex;

    .nav-bar-icon-btn {
      transition: all 0.2s ease-in-out;
      height: 100%;
      padding: 8px;

      &.btn-save {
        background: rgba($green, 0.1);

        &:hover {
          background-color: $green;
          cursor: pointer;
          & i {
            color: $white !important;
          }
        }
      }

      &.btn-delete {
        background: rgba(227, 94, 94, 0.1);

        &:hover {
          background-color: rgb(227, 94, 94);
          cursor: pointer;
          color: $white !important;
          & i {
            color: $white !important;
          }
        }
      }

      i.fa-save {
        transition: all 0.2s ease-in-out;
        padding: 0 0.6em;

        color: $green;
      }

      i.fa-trash {
        transition: all 0.2s ease-in-out;
        padding: 0 0.6em;
        color: rgb(227, 94, 94);
      }
    }
  }
}
