<cdk-accordion>
  <cdk-accordion-item
    #accordionItem="cdkAccordionItem"
    role="true"
    [expanded]="isExpanded"
    [attr.aria-expanded]="isExpanded"
    [attr.id]="'accordion-header-' + sectionId"
    [attr.aria-controls]="'accordion-body-' + sectionId"
  >
    <div class="section-card-container">
      <div class="section-card-title" (click)="onToggleModal()">
        <ng-content></ng-content>

        <p style="margin-left: 10px">
          {{ sectionTitle }}
        </p>
      </div>

      <span (click)="onToggleSectionAccorian()">
        <i *ngIf="isExpanded" class="fas fa-chevron-down"></i>
        <i *ngIf="!isExpanded" class="fas fa-chevron-up"></i>
      </span>
    </div>

    <div cdkDropList (cdkDropListDropped)="drop($event)">
      <div
        role="region"
        [style.display]="isExpanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + sectionId"
        class="section-wrapper"
      >
        <!-- <div>
          <button
            class="button is-primary is-fullwidth square"
            (click)="onAddLesson()"
          >
            <i class="fas fa-plus" style="padding-right: 10px"></i> Lesson
          </button>
        </div> -->
        <div
          class="lesson-card-add"
          *ngIf="lessons?.length === 0 && addingLessons"
        >
          <div class="lesson-card-add-btn" (click)="onAddLesson(0)">+</div>
        </div>

        <div
          cdkDrag
          [ngClass]="{
            'lesson-card-container-active':
              lessonBeingEditedId === lesson.id ? true : false
          }"
          *ngFor="let lesson of lessons; let i = index"
          (click)="onEditLesson(lesson)"
        >
          <div class="lesson-card-add" *ngIf="i === 0 && addingLessons">
            <div class="lesson-card-add-btn" (click)="onAddLesson(i)">+</div>
          </div>
          <div class="lesson-card-container">
            <div class="lesson-card-placeholder" *cdkDragPlaceholder></div>
            <div cdkDragHandle class="drag-handle">
              <i class="fas fa-ellipsis-v"></i>
            </div>

            <p class="lesson-card-title">
              {{ lesson.title }}
            </p>
          </div>

          <div class="lesson-card-add" *ngIf="addingLessons">
            <div class="lesson-card-add-btn" (click)="onAddLesson(i + 1)">
              +
            </div>
          </div>
        </div>
      </div>
    </div>
  </cdk-accordion-item>
</cdk-accordion>

<!-- SECTION EDITOR MODAL -->
<div class="modal" [ngClass]="{ 'is-active': modalOpen }">
  <div class="modal-background" (click)="onToggleModal()"></div>
  <div class="modal-content">
    <div class="box box--dark">
      <!-- <app-modal [modalOpen]="editModalOpen"> -->
      <div class="modal-section-wrapper">
        <h2 class="is-size-3 mb-3">Section Configuration</h2>
        <div class="modal-section">
          <label class="label">Title</label>
          <input class="input" type="text" value="Section One" />
        </div>
        <div></div>

        <div class="field settings-field">
          <div class="settings-field-box-left">
            <p class="settings-field-header">Is Public</p>
            <p>If set to public students will see this section in the course</p>
          </div>
          <div>
            <label class="switch">
              <input type="checkbox" />
              <span class="slider round"></span>
            </label>
          </div>
        </div>
        <!-- <div class="field settings-field">
          <div class="settings-field-box-left">
            <p class="settings-field-header">Add Lesson</p>
            <p>Add a lesson to this section and start editing</p>
            
          </div>
          <div>
            <button
              style="color: white !important"
              class="button is-success"
              [ngClass]="{ 'is-loading': deleteLoading }"
              (click)="onAddLesson()"
            >
              Add Lesson
            </button>
          </div>
        </div> -->
        <div class="field settings-field">
          <div class="settings-field-box-left">
            <p class="settings-field-header">Delete Section</p>
            <p>
              <span class="danger bold">Warning:</span> Deleting this section
              will delete all of its lessons
            </p>
            <p *ngIf="deleteError" class="danger">{{ deleteError }}</p>
          </div>
          <div>
            <button
              class="button is-danger"
              [ngClass]="{ 'is-loading': deleteLoading }"
              (click)="onDeleteSection()"
            >
              Delete
            </button>
          </div>
        </div>
        <div class="settings-field-controls buttons">
          <!-- <div class="button is-primary" (click)="onToggleModal()">Cancel</div> -->
          <div class="button is-primary" (click)="onToggleModal()">Close</div>
          <div class="button is-success" (click)="onToggleModal()">Save</div>
        </div>
      </div>
      <!-- </app-modal> -->
    </div>
  </div>
</div>
