<cdk-accordion>
  <cdk-accordion-item
    #accordionItem="cdkAccordionItem"
    role="true"
    [expanded]="isExpanded"
    [attr.aria-expanded]="isExpanded"
    [attr.id]="'accordion-header-' + sectionId"
    [attr.aria-controls]="'accordion-body-' + sectionId"
  >
    <div class="section-card-container">
      <div class="section-card-title" (click)="onToggleModal()">
        <ng-content></ng-content>

        <div
          style="
            display: flex;
            flex-direction: column;
            position: relative;
            flex-grow: 1;
          "
        >
          <p style="margin-left: 10px">
            {{ sectionTitle }}
          </p>
          <div
            style="
              display: flex;
              margin-left: 10px;
              flex-grow: 1;
              margin-top: 10px;
            "
          >
            <p class="section-subtitle">
              <span>{{ lessons.length ? lessons.length : 0 }}</span>
              Lessons |
            </p>
            <p
              class="section-subtitle ml-1"
              [ngClass]="{
                'has-text-success': section?.public
              }"
            >
              {{ section?.public ? "Public" : "Not Public" }}
            </p>
          </div>
        </div>
      </div>

      <span
        (click)="onToggleSectionAccorian()"
        style="align-self: flex-start; margin-top: 10px"
      >
        <i *ngIf="isExpanded" class="fas fa-chevron-down"></i>
        <i *ngIf="!isExpanded" class="fas fa-chevron-up"></i>
      </span>
    </div>

    <div>
      <div
        role="region"
        [style.display]="isExpanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + sectionId"
        class="section-wrapper"
      >
        <div
          class="lesson-card-add"
          *ngIf="lessons?.length === 0 && addingLessons"
        >
          <div class="lesson-card-add-btn" (click)="onAddLesson(0)">+</div>
        </div>

        <div *ngIf="lessons?.length === 0" class="p-2 no-lessons-card">
          No Lessons
        </div>

        <div
          [ngClass]="{
            'lesson-card-container-active':
              lessonBeingEditedId === lesson.id ? true : false
          }"
          *ngFor="let lesson of lessons; let i = index"
          (click)="onEditLesson(lesson)"
        >
          <div class="lesson-card-add" *ngIf="i === 0 && addingLessons">
            <div class="lesson-card-add-btn" (click)="onAddLesson(i)">+</div>
          </div>
          <div class="lesson-card-container">
            <div class="lesson-card-placeholder" *cdkDragPlaceholder></div>

            <p class="lesson-card-title">
              {{ lesson.title }}
            </p>
          </div>

          <div class="lesson-card-add" *ngIf="addingLessons">
            <div class="lesson-card-add-btn" (click)="onAddLesson(i + 1)">
              +
            </div>
          </div>
        </div>
      </div>
    </div>
  </cdk-accordion-item>
</cdk-accordion>

<!-- SECTION EDITOR MODAL -->
<div class="modal" [ngClass]="{ 'is-active': modalOpen }">
  <div class="modal-background" (click)="onToggleModal()"></div>
  <div class="modal-content">
    <div class="box box--dark">
      <form [formGroup]="sectionForm" (ngSubmit)="onFormSubmit()">
        <div class="modal-section-wrapper">
          <!-- <h2 class="is-size-3 mb-3">Section Configuration</h2> -->
          <div class="modal-section">
            <label class="label">Section Title</label>
            <input
              class="input"
              type="text"
              value="Section One"
              formControlName="title"
            />
            <span
              class="has-text-danger is-italic is-small"
              *ngIf="!sectionForm?.get('title')?.valid"
              >Required</span
            >
          </div>
          <div></div>

          <div class="field settings-field">
            <div class="settings-field-box-left">
              <p class="settings-field-header">Is Public</p>
              <p>
                If set to public students will see this section in the course
              </p>
            </div>
            <div>
              <label class="switch">
                <input type="checkbox" formControlName="public" />
                <span class="slider round"></span>
              </label>
            </div>
          </div>

          <div class="field settings-field">
            <div class="settings-field-box-left">
              <p class="settings-field-header">Delete Section</p>
              <p>
                <span class="danger bold">Warning:</span> Deleting this section
                will delete all of its lessons
              </p>
              <p *ngIf="deleteError" class="danger">{{ deleteError }}</p>
            </div>
            <div>
              <button
                class="button is-danger"
                [ngClass]="{ 'is-loading': deleteLoading }"
                (click)="onDeleteSection()"
              >
                Delete
              </button>
            </div>
          </div>
          <div class="settings-field-controls buttons">
            <button
              class="button is-primary"
              type="button"
              (click)="onToggleModal()"
            >
              Cancel
            </button>
            <button
              class="button is-success"
              (click)="onSaveChanges()"
              type="submit"
              [disabled]="!sectionForm.valid"
            >
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
