@import "../../../main-styles.scss";

@mixin drag-handle() {
  position: relative;
  color: rgba($white, 0.3);
  cursor: grab;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  padding: 4px 8px;
  transition: all 0.3s ease-in-out;
  align-self: flex-start;

  &:hover {
    background: $green;
    color: $white;
    border-radius: 3px;
  }
}

@mixin parent-drag-handle-container-hover() {
  display: block;
  opacity: 1;
}

.section-wrapper {
  box-shadow: inset 5em 1em rgba(0, 0, 0, 1);
}

.section-card-container {
  font-weight: bold;
  background-color: $blue;
  display: flex;
  padding: 8px;
  padding-right: 20px;
  align-items: center;
  vertical-align: middle;
  border-bottom: 1px solid grey;

  & i:hover {
    color: $green;
    cursor: pointer;
  }

  .section-card-title {
    display: flex;

    align-items: center;
    flex-grow: 1;
    padding: 8px 0px;
    // width: 100%;
    margin-right: 20px;
    // overflow-x: hidden;
    width: 300px;
    // white-space: nowrap;

    &:hover {
      cursor: pointer;
      color: $green;
    }

    &:hover ::ng-deep .drag-handle {
      @include parent-drag-handle-container-hover();
    }

    ::ng-deep .drag-handle {
      @include drag-handle();
    }
  }
}

.no-lessons-card {
  display: flex;
  background: lighten($blue, 20%);
  justify-content: center;
  text-align: center;
}

.section-subtitle {
  font-size: 14px;
  font-weight: 100;
  color: rgb(172, 172, 172);
}

.lesson-card-container {
  background: lighten($blue, 20%);
  border-bottom: 1px solid lighten($blue, 18%);
  display: flex;
  padding: 8px;
  flex-wrap: wrap;
  align-items: center;
  position: relative;

  .lesson-card-title {
    margin-left: 20px;
  }

  &:hover {
    background-color: $blue-lightened;
    cursor: pointer;

    & .drag-handle {
      @include parent-drag-handle-container-hover();
    }
  }

  .drag-handle {
    @include drag-handle();
  }
}

.lesson-card-add {
  z-index: 1;
  border: 1px solid $green;
  position: relative;

  & .lesson-card-add-btn {
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translate(-50%, 0%);
    background: $green;
    border-radius: 4px;
    line-height: 10px;
    padding: 2px 10px;

    &:hover {
      background: lighten($green, 20%);
    }

    &:hover {
      cursor: pointer;
      background: lighten($green, 20%);
    }
  }
  // left: 50%;
}

.lesson-card-placeholder {
  background: lighten($blue, 20%);
  border: solid 1px rgba($green, 0.3);
  min-height: 50px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  background: $blue;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.lesson-card-container-active {
  background: darken($green, 30%) !important;
  color: $green;
  font-weight: bold;

  & .note-card-title {
    color: black;
  }
}
